<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mysql" value="server=127.0.0.1;port=3306;user=root;password=AT*-=uik123; database=test;"/>
  </appSettings>
  <connectionStrings>
    <add name="mysql" connectionString="server=127.0.0.1;port=3306;user=root;password=AT*-=uik123; database=test;"/>
  </connectionStrings>
</configuration>